<!-- wp:paragraph {"align":"center","backgroundColor":"black","textColor":"white","fontSize":"x-large"} -->
<p class="has-text-align-center has-white-color has-black-background-color has-text-color has-background has-x-large-font-size">Hello.</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"textAlign":"center","level":5,"style":{"typography":{"fontStyle":"normal","fontWeight":"400","textTransform":"capitalize"}},"fontSize":"medium"} -->
<h5 class="wp-block-heading has-text-align-center has-medium-font-size" id="welcome-to-our-site" style="font-style:normal;font-weight:400;text-transform:capitalize">Welcome to our site.</h5>
<!-- /wp:heading -->